#about {
    padding: 120px 10px 10px;
    background: #1ba49c;
    height: 500px;

    .container {
        max-width: 1000px;
        margin: auto;
    }

    h2, h3 {
        color: #fff;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-family: 'Europa', 'Montserrat', sans-serif;
    }

    @media (max-width: 660px) {
        height: 580px;
        padding: 120px 10px 10px;

        h2 { 
            padding-left: 40px;
            padding-right: 40px;
            font-size: 24px;
        }
    }
}