/*================ SASS HELPERS ================*/
/*============================================================================
  Convert pixels to ems
  eg. for a relational value of 12px write em(12) when the parent is 16px
  if the parent is another value say 24px write em(12, 24)
  Based on https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_px-to-em.scss
==============================================================================*/
@function em($pxval, $base: $font-size-base) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return ($pxval / $base) * 1em;
}

* {
  font-family: 'Europa', 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  scroll-behavior: smooth;
}

.app {
  text-align: center;
}

h1, h2, h3, h4, h5, ul, p, a {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Eurostile-Bold', 'Montserrat', sans-serif;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  padding: 20px 0;
}

h3, p {
  font-size: 20px;
  font-weight: 300;
  padding: 0 20px 20px;
}

p {
  line-height: 1.5;
}

a {
  color: #1ba49c;
  text-decoration: none;
}

li {
  list-style-type: none;
}

label { 
  font-size: 20px; 
}

input, textarea {
  font-size: 20px;
  margin: 10px 0;
  padding: 10px;
  width: 240px;

  @media(max-width: 1100px) {
      width: 100%;
      margin: 10px auto;
  }
}

textarea {
  width: 380px;
  @media(max-width: 1100px) {
      width: 100%;
  }
}

button {
  background: none;
  outline: unset;
  border: unset;

  &:hover {
    cursor: pointer;
  }
}

.btn {
  border: #1ba49c solid 2px;
  color: #1ba49c;
  border-radius: 100px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 500;

  &:hover, &:disabled {
    background: #1ba49c;
    color: #fff;
  }
}

.btn-secondary {
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 4px;
  background-color: #06BC9B;
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c);
  cursor: pointer;

  &:hover {
      background-color: #06BC9B;
      background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
      
      i {
          color: #0d4e4a;
      }
  }

  i {
      font-size: 18px;
      color: #fff;
      margin-left: 10px;
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
  }
}

.error {
  text-align: left;
  padding-left: 10px;
  color: #1ba49c;
}

.fade-in {
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;

  @media (max-width: 1100px) {
      display: block;
      max-width: 600px;
      margin: 32px auto 0;
  }
}

.hide {
  display: none;
}

.green {
  color: #1ba49c;
}

.mt10 {
  margin-top: 10px;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 750px) {
  h2 {
    font-size: 28px;
  }

  h3, p {
    font-size: 18px;
  }

  .btn {
    font-size: 18px;
  }
}