/*================ SASS HELPERS ================*/
/*============================================================================
  Convert pixels to ems
  eg. for a relational value of 12px write em(12) when the parent is 16px
  if the parent is another value say 24px write em(12, 24)
  Based on https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_px-to-em.scss
==============================================================================*/
@function em($pxval, $base: $font-size-base) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return ($pxval / $base) * 1em;
}

* {
  font-family: 'Europa', 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  scroll-behavior: smooth;
}

.app {
  text-align: center;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

h1, h2, h3, h4, h5, ul, p, a {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Eurostile-Bold', 'Montserrat', sans-serif;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  padding: 20px 0;
}

h3, p {
  font-size: 20px;
  font-weight: 300;
  padding: 0 20px 20px;
}

p {
  line-height: 1.5;
}

a {
  color: #1ba49c;
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  background: none;
  outline: unset;
  border: unset;

  &:hover {
    cursor: pointer;
  }
}

.btn {
  border: #1ba49c solid 2px;
  border-radius: 100px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 500;
}

.btn:hover {
  background: #1ba49c;
  color: #fff;
}

.fade-in {
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.hide {
  display: none;
}

@media (max-width: 750px) {
  h2 {
    font-size: 24px;
  }

  h3, p {
    font-size: 18px;
  }

  .btn {
    font-size: 18px;
  }
}