#contact-bar {
    width: 100%;

    .content-wrap {
        background: #141C3A;
        max-width: 1200px;
        margin: 0 auto;
        padding: 3rem 1rem;
        border-radius: 15px;
        position: relative;
        top: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
    
        h3 {
            font-size: 32px;
            font-weight: 700;
            color: #fff;
            padding: 0;
        }

        p {
            padding: 0;
        }
    
        p, .btn {
            color: #fff;
        }
    
        .btn:hover {
            background: #1ba49c;
        }

        @media (max-width: 1000px) {
            h3 {
                font-size: 28px;
            }

            p, .btn {
                font-size: 16px;
            }
        }

        @media (max-width: 750px) {
            flex-direction: column;
            margin-top: -2rem;
            p {
                padding: 2rem 0 ;
            }
        }
    }
}