#contact-section {
    max-width: 1200px;
    margin: auto;
    padding: 32px;
    align-items: center;
    justify-content: center;

    img {
        border-radius: 50%;
        margin: 32px 0;
    }

    .form-wrap {
        width: 100%;

        .wrap {
            width: 350px;
            margin: 0 20px;

            div {
                .input {
                    width: 100%;
                }
            }
        }

        .btn {
            margin-top: 20px;
        }
    }
}