header {
    margin: auto;
    padding: 150px 20px 0;
    max-width: 1400px;

    h1 {
        font-size: 48px;
        margin-top: 32px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 24px;
        font-family: 'Europa', 'Montserrat', sans-serif;
        font-weight: 300;
        line-height: 1.5;
    }

    .btn-wrap {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .image-wrap {
        margin-top: 96px;
        width: 100%;
    }

    img {
        margin-bottom: -4.2px;
        max-width: 600px;
    }
}

@media(max-width: 750px) {
    header {
        padding: 64px 32px 0;

        h1 { 
            font-size:30px; 
            padding-left: 20px;
            padding-right: 20px;
        }

        h2 {
            font-size: 18px;
        }

        img {
            max-width: 90%;
        }
    }
}