header {
    margin: auto;
    padding: 10rem .5rem 0;

    h1 {
        font-size: 36px;
        font-weight: 800;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 20px;
        font-weight: 400;
    }

    .image-wrap {
        margin-top: 6rem;
        width: 100%;
    }

    img {
        margin-bottom: -4.2px;
        max-width: 600px;
    }
}

@media(max-width: 750px) {
    header {
        padding: 8rem 2rem 0;

        h1 { font-size: 32px; }

        img {
            max-width: 90%;
        }
    }
}

@media(max-width: 500px) {
    header {
        padding: 4rem 2rem 0;
    }
}

#about {
    padding: 50px 10px 10px;
    background: #1ba49c;
    height: 400px;

    .container {
        max-width: 900px;
        margin: auto;
    }

    h2, h3 {
        color: #fff;
    }
}

#testimonials {
    padding: 0 2rem;

    .container {
        max-width: 800px;
        margin: auto;

        .card {
            img {
                width: 200px;
                border-radius: 50%;
                margin: 2rem 0 1rem;
            }

            h3 {
                padding-bottom: 10px;
                font-size: 28px;
                font-weight: 600;
            }

            h4 {
                padding-bottom: 20px;
                font-weight: 400;
            }

            p {
                font-weight: 500;
            }
        }
    }
}

#contact {
    width: 100%;

    .content-wrap {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: #141C3A;
        max-width: 1200px;
        margin: 0 auto;
        padding: 3rem 1rem;
        border-radius: 15px;
        position: relative;
        top: 5rem;

        @media (max-width: 750px) {
            flex-direction: column;
        }
    
        h3 {
            font-size: 32px;
            font-weight: 700;
            color: #fff;
        }
    
        p, .btn {
            color: #fff;
        }

        @media (max-width: 1000px) {
            h3 {
                font-size: 28px;
            }

            p, .btn {
                font-size: 18px;
            }
        }
    
        .btn:hover {
            background: #1ba49c;
        }
    }
}