.nav {
    width: 100%;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        width: 80%;
        margin: auto;
        padding: 10px;

        h1 {
            font-size: 48px;
            // font-weight: 700;
            // border: 8px solid #1ba49c;
            // border-radius: 12px;
            // padding: 2px 10px;
            img {
                width: 160px;
            }
        }
    }
}