.nav {
    width: 100%;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        padding: 10px 2rem;

        h1 {
            img {
                width: 120px;

                @media (max-width: 750px) {
                    width: 80px;
                }
            }
        }
    }
}