.nav {
    width: 100%;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        width: 80%;
        margin: auto;
        padding: 10px;

        h1 {
            font-size: 48px;
            font-weight: 700;
        }
    }
}