#personal {
    .green {
        padding: 50px 10px 10px;
        background: #1ba49c;
        height: 400px;

        .container {
            max-width: 900px;
            margin: auto;
        }
    
        h2, p {
            color: #fff;
        }
    }

    ul {
        max-width: 1200px;
        margin: auto;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;

        .card {

            .wrap {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                position: relative;
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                -moz-column-break-inside: avoid;
                     break-inside: avoid;
                -webkit-transition: .6s ease-out;
                -o-transition: .6s ease-out;
                transition: .6s ease-out;

                .image-wrap {
                    img {
                        width: 100%;
                    }
                }
                .text-wrap {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: -webkit-fit-content;
                    height: -moz-fit-content;
                    height: fit-content;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -ms-flex-line-pack: center;
                        align-content: center;

                    h3 {
                        font-size: 38px;
                        font-weight: 800;
                        color: #fff;
                        padding: 0;
                    }
                    h4 {
                        font-size: 32px;
                        font-weight: 700;
                        color: #fff;
                        padding: 0;
                        margin-bottom: 100px;
                    }
                }
            }
        }
    }    
}