#services-popup {
    position: fixed;
    width: 100%;
    left: 0;
    padding: 0 20px;
    z-index: 999;

    .content {
        padding: 20px;
        border-radius: 30px;
        -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.14);
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.14);
        background: #0d4e4a;
        overflow-y: auto;
        overflow-x: hidden;

        @media(max-width: 600px) {
            max-height: 600px;
        }
        position: sticky;
        left: 0;
        right: 0;
        top: 0;
        max-width: 1000px;
        margin: auto;

        .wrap {
            max-width: 1000px;
            margin: auto;

            h2 {
                padding-top: 0;
                color: #fff;
            }
    
            h3 {
                font-size: 28px;
                font-weight: 900;
                color: #06BC9B;

                @media(max-width: 750px) {
                    font-size: 24px;
                }
            }
    
            p, li {
                color: #fff;
            }

            p {
                padding-left: 0;
                padding-right: 0;
            }
    
            li {
                font-size: 20px;

                @media(max-width: 750px) {
                    font-size: 18px;
                }
            }
        }

        button {
            color: #fff;
            margin-top: 2rem;
        }

        .btn-wrap {
            margin-top: 10px;
            margin-bottom: 10px;

            .btn {
                border: none;
                font-size: 20px;
                padding: 10px 20px;
                color: #fff;
                border-radius: 4px;
                background-color: #06BC9B;
                background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c);
    
                &:hover {
                    background-color: #06BC9B;
                    background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
                    
                    i {
                        color: #0d4e4a;
                    }
                }
    
                i {
                    font-size: 18px;
                    color: #fff;
                    margin-left: 10px;
                    -webkit-transition: none;
                    -o-transition: none;
                    transition: none;
                }
            }
        }

        -webkit-animation: drop .8s ease forwards;

                animation: drop .8s ease forwards;

        @-webkit-keyframes drop {
            0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
            70% {-webkit-transform: translateY(-1300px);transform: translateY(-1300px); }
            100% { -webkit-transform: translateY(-1350px); transform: translateY(-1350px); opacity: 1; position: sticky; }
        }

        @keyframes drop {
            0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
            70% {-webkit-transform: translateY(-1300px);transform: translateY(-1300px); }
            100% { -webkit-transform: translateY(-1350px); transform: translateY(-1350px); opacity: 1; position: sticky; }
        }

        @media(max-width: 1215px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1400px);transform: translateY(-1300px); }
                100% { -webkit-transform: translateY(-1450px); transform: translateY(-1350px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1400px);transform: translateY(-1300px); }
                100% { -webkit-transform: translateY(-1450px); transform: translateY(-1350px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 1111px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1400px);transform: translateY(-1370px); }
                100% { -webkit-transform: translateY(-1450px); transform: translateY(-1420px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1400px);transform: translateY(-1370px); }
                100% { -webkit-transform: translateY(-1450px); transform: translateY(-1420px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 1039px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1400px);transform: translateY(-1430px); }
                100% { -webkit-transform: translateY(-1450px); transform: translateY(-1480px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1400px);transform: translateY(-1430px); }
                100% { -webkit-transform: translateY(-1450px); transform: translateY(-1480px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 979px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1680px);transform: translateY(-1730px); }
                100% { -webkit-transform: translateY(-1730px); transform: translateY(-1780px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1680px);transform: translateY(-1730px); }
                100% { -webkit-transform: translateY(-1730px); transform: translateY(-1780px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 922px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1680px);transform: translateY(-1750px); }
                100% { -webkit-transform: translateY(-1730px); transform: translateY(-1800px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1680px);transform: translateY(-1750px); }
                100% { -webkit-transform: translateY(-1730px); transform: translateY(-1800px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 878px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1730px);transform: translateY(-1770px); }
                100% { -webkit-transform: translateY(-1780px); transform: translateY(-1830px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1730px);transform: translateY(-1770px); }
                100% { -webkit-transform: translateY(-1780px); transform: translateY(-1830px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 830px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1760px);transform: translateY(-1800px); }
                100% { -webkit-transform: translateY(-1810px); transform: translateY(-1850px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1760px);transform: translateY(-1800px); }
                100% { -webkit-transform: translateY(-1810px); transform: translateY(-1850px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 806px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1800px);transform: translateY(-1850px); }
                100% { -webkit-transform: translateY(-1850px); transform: translateY(-1900px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1800px);transform: translateY(-1850px); }
                100% { -webkit-transform: translateY(-1850px); transform: translateY(-1900px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 771px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1850px);transform: translateY(-1880px); }
                100% { -webkit-transform: translateY(-1900px); transform: translateY(-1930px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1850px);transform: translateY(-1880px); }
                100% { -webkit-transform: translateY(-1900px); transform: translateY(-1930px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 750px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1460px);transform: translateY(-1500px); }
                100% { -webkit-transform: translateY(-1510px); transform: translateY(-1550px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1460px);transform: translateY(-1500px); }
                100% { -webkit-transform: translateY(-1510px); transform: translateY(-1550px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 660px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1850px);transform: translateY(-1870px); }
                100% { -webkit-transform: translateY(-1900px); transform: translateY(-1920px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1850px);transform: translateY(-1870px); }
                100% { -webkit-transform: translateY(-1900px); transform: translateY(-1920px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 638px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1850px);transform: translateY(-1900px); }
                100% { -webkit-transform: translateY(-1900px); transform: translateY(-1950px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1850px);transform: translateY(-1900px); }
                100% { -webkit-transform: translateY(-1900px); transform: translateY(-1950px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 530px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1850px);transform: translateY(-1880px); }
                100% { -webkit-transform: translateY(-1900px); transform: translateY(-1930px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1850px);transform: translateY(-1880px); }
                100% { -webkit-transform: translateY(-1900px); transform: translateY(-1930px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 480px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1850px);transform: translateY(-1850px); }
                100% { -webkit-transform: translateY(-1900px); transform: translateY(-1900px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1850px);transform: translateY(-1850px); }
                100% { -webkit-transform: translateY(-1900px); transform: translateY(-1900px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 412px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1860px);transform: translateY(-1860px); }
                100% { -webkit-transform: translateY(-1910px); transform: translateY(-1910px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1860px);transform: translateY(-1860px); }
                100% { -webkit-transform: translateY(-1910px); transform: translateY(-1910px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 409px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1870px);transform: translateY(-1870px); }
                100% { -webkit-transform: translateY(-1920px); transform: translateY(-1920px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1870px);transform: translateY(-1870px); }
                100% { -webkit-transform: translateY(-1920px); transform: translateY(-1920px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 400px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1930px);transform: translateY(-1930px); }
                100% { -webkit-transform: translateY(-1980px); transform: translateY(-1980px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1930px);transform: translateY(-1930px); }
                100% { -webkit-transform: translateY(-1980px); transform: translateY(-1980px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 390px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1950px);transform: translateY(-1950px); }
                100% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1950px);transform: translateY(-1950px); }
                100% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 382px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1970px);transform: translateY(-1930px); }
                100% { -webkit-transform: translateY(-2020px); transform: translateY(-1980px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-1970px);transform: translateY(-1930px); }
                100% { -webkit-transform: translateY(-2020px); transform: translateY(-1980px); opacity: 1; position: sticky; }
            }
        }

        @media(max-width: 367px) {
            @-webkit-keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-2000px);transform: translateY(-1950px); }
                100% { -webkit-transform: translateY(-2050px); transform: translateY(-2000px); opacity: 1; position: sticky; }
            }
            @keyframes drop {
                0%{ -webkit-transform: translateY(-3000px); transform: translateY(-3000px); opacity: 0; }
                70% {-webkit-transform: translateY(-2000px);transform: translateY(-1950px); }
                100% { -webkit-transform: translateY(-2050px); transform: translateY(-2000px); opacity: 1; position: sticky; }
            }
        }
    }
}