#services {
    margin: -6rem auto 10rem;
    padding: 0 20px;

    ul {
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;

        @media (max-width: 350px) {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }

        li {
            .card {
                background-color: #fff;
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.14);
                border-radius: 30px;
                padding: 20px 10px;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                flex-direction: column;
                -webkit-box-pack: center;
                min-height: 100%; // keeps heights the same height as tallest element

                h2 {
                    font-size: 32px;
                    @media (max-width: 660px) {
                        font-size: 24px;
                    }
                }

                p {
                    padding-left: 10px;
                    padding-right: 10px;
                }
        
                i {
                    font-size: 36px;
                    color: #06BC9B;
                }

                .icon {
                    height: 36px;
                    margin: 0 auto;
                }
        
                .btn-wrap {
                    margin-top: auto;
                }

                button {
                    font-size: 20px;
                    padding: 10px 20px;
                    color: #fff;
                    border-radius: 4px;
                    background-color: #06BC9B;
                    background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c);

                    &:hover {
                        background-color: #06BC9B;
                        background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
                        
                        i {
                            color: #0d4e4a;
                        }
                    }

                    i {
                        font-size: 18px;
                        color: #fff;
                        margin-left: 10px;
                        transition: none;
                    }
                }

                @media (max-width: 750px) {
                    min-height: 0;
                    margin: auto;

                    i {
                        font-size: 28px;
                    }

                    .icon {
                        height: 28px;
                    }
                }

                @media (max-width: 350px) {
                    max-width: 300px;
                }
            }
        }

        @media (max-width: 660px) {
            max-width: 400px;
            margin: auto;
        }
    }

    @media (max-width: 750px) {
        margin-top: -8rem;
    }

    @media (max-width: 400px) {
        margin-top: -4rem;
    }
}