#subscribe-page {
    header {
        padding-top: 40px;

        .text-wrap {
            max-width: 1000px;
            margin: auto;
        }

        form {
            max-width: 400px;
            margin: auto;

            input {
                width: 100%;
            }

            .btn {
                margin: 10px 0;
            }
        }

        .message {
            max-width: 600px;
            margin: 10px auto;

            h3 {
                font-size: 24px;
            }
        }
    }
}