#thankyou {
    max-width: 1200px;
    margin: auto;
    padding: 32px;
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    h1 {
        span { 
            display: block;
            margin: 10px;

            &:nth-child(2) {
                margin-top: 20px;
            }
        }
    }
}